/* styles.css - an external style sheet for use with test.html */
h2 {font-family: 'Times New Roman';
	font-size: 2em; font-weight: bold;
	text-indent:150px;
}
h1 {font-family: 'Times New Roman';
	font-size: 1.5 em;
	text-align:right;
	background-color: rgb(192,192,192);
	color: rgb(96,96,96) ;
	border-bottom:5px solid #000;
}
dt {text-indent: 180px}
p {style=white-space:pre-wrap; width:60ex;
	text-indent: 150px;
  	margin-top: 0}